@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
  background: rgb(9 9 11);
  color: rgb(244 244 245);
  font-family: Inter, system-ui, sans-serif;
}

a {
  text-underline-offset: 4px;
}
